@layer pm.components {
  .pm-presence {
    /* base */
  }

  .pm-presence--entering {
    opacity: 0;
    animation: pm-presence-enter var(--pm-transition-normal) ease-out forwards;
  }

  .pm-presence--entered {
    opacity: 1;
  }

  .pm-presence--exiting {
    opacity: 1;
    animation: pm-presence-exit var(--pm-transition-normal) ease-in forwards;
  }

  .pm-presence--exited {
    opacity: 0;
  }

  @keyframes pm-presence-enter {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes pm-presence-exit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .pm-presence--entering,
    .pm-presence--exiting {
      animation: none;
    }

    .pm-presence--entering {
      opacity: 1;
    }

    .pm-presence--exiting {
      opacity: 0;
    }
  }
}
