@layer pm.components {
  .pm-textarea {
    display: block;
    font-family: var(--pm-font-family-sans);
    line-height: var(--pm-font-lineHeight-normal);
    border-radius: var(--pm-radius-md);
    transition-property: border-color, box-shadow, background-color;
    transition-duration: var(--pm-transition-fast);
    transition-timing-function: ease-in-out;
    width: auto;
  }

  .pm-textarea:focus-visible {
    outline: var(--pm-focus-ring-width) solid var(--pm-focus-ring);
    outline-offset: var(--pm-focus-ring-offset);
  }

  .pm-textarea--outline {
    border: 1px solid var(--pm-neutral-active);
    background-color: transparent;
    color: var(--pm-fg);
  }

  .pm-textarea--outline::placeholder {
    color: var(--pm-fg-subtle);
  }

  .pm-textarea--filled {
    border: 1px solid transparent;
    background-color: var(--pm-bg-muted);
    color: var(--pm-fg);
  }

  .pm-textarea--filled::placeholder {
    color: var(--pm-fg-subtle);
  }

  .pm-textarea--filled:focus-visible {
    background-color: transparent;
    border-color: var(--pm-primary-border);
  }

  .pm-textarea--unstyled {
    border: none;
    background-color: transparent;
    color: var(--pm-fg);
    border-radius: 0;
    padding: 0;
  }

  .pm-textarea--unstyled:focus-visible {
    outline: none;
  }

  .pm-textarea--xs {
    padding: var(--pm-spacing-0-5) var(--pm-spacing-1-5);
    font-size: var(--pm-font-size-xs);
    min-height: calc(var(--pm-spacing-6) * 2);
  }

  .pm-textarea--sm {
    padding: var(--pm-spacing-1) var(--pm-spacing-2);
    font-size: var(--pm-font-size-sm);
    min-height: calc(var(--pm-spacing-8) * 2);
  }

  .pm-textarea--md {
    padding: var(--pm-spacing-2) var(--pm-spacing-3);
    font-size: var(--pm-font-size-md);
    min-height: calc(var(--pm-spacing-10) * 2);
  }

  .pm-textarea--lg {
    padding: var(--pm-spacing-3) var(--pm-spacing-4);
    font-size: var(--pm-font-size-lg);
    min-height: calc(var(--pm-spacing-12) * 2);
  }

  .pm-textarea--resize-none {
    resize: none;
  }

  .pm-textarea--resize-vertical {
    resize: vertical;
  }

  .pm-textarea--resize-horizontal {
    resize: horizontal;
  }

  .pm-textarea--resize-both {
    resize: both;
  }

  .pm-textarea--autosize {
    resize: none;
    overflow: hidden;
  }

  .pm-textarea--invalid {
    border-color: var(--pm-danger-border);
  }

  .pm-textarea--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pm-textarea--read-only {
    background-color: var(--pm-bg-subtle);
    cursor: default;
  }

  .pm-textarea--full-width {
    width: 100%;
  }
}
