@layer pm.components {
  .pm-splitter {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .pm-splitter--horizontal {
    flex-direction: row;
  }

  .pm-splitter--vertical {
    flex-direction: column;
  }

  .pm-splitter--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .pm-splitter__panel {
    overflow: auto;
  }

  .pm-splitter__panel--collapsed {
    flex: 0 0 0%;
    overflow: hidden;
  }

  .pm-splitter__handle {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pm-neutral-hover);
    transition: background-color var(--pm-transition-fast) ease-in-out;
    user-select: none;
    touch-action: none;
  }

  .pm-splitter__handle:hover {
    background-color: var(--pm-neutral-active);
  }

  .pm-splitter__handle:focus-visible {
    outline: var(--pm-focus-ring-width) solid var(--pm-focus-ring);
    outline-offset: var(--pm-focus-ring-offset);
  }

  .pm-splitter__handle--active {
    background-color: var(--pm-primary-subtle-hover);
  }

  .pm-splitter__handle--horizontal {
    width: 4px;
    cursor: col-resize;
  }

  .pm-splitter__handle--vertical {
    height: 4px;
    cursor: row-resize;
  }
}
