@layer pm.components {
  .pm-list {
    font-family: var(--pm-font-family-sans);
    margin: 0;
    padding-left: var(--pm-spacing-6);

    /* Type */
    &.pm-list--unordered {
      list-style-type: disc;
    }

    &.pm-list--ordered {
      list-style-type: decimal;
    }

    /* Style types */
    &.pm-list--style-disc {
      list-style-type: disc;
    }

    &.pm-list--style-circle {
      list-style-type: circle;
    }

    &.pm-list--style-square {
      list-style-type: square;
    }

    &.pm-list--style-decimal {
      list-style-type: decimal;
    }

    &.pm-list--style-lower-alpha {
      list-style-type: lower-alpha;
    }

    &.pm-list--style-upper-alpha {
      list-style-type: upper-alpha;
    }

    &.pm-list--style-lower-roman {
      list-style-type: lower-roman;
    }

    &.pm-list--style-upper-roman {
      list-style-type: upper-roman;
    }

    /* Spacing */
    &.pm-list--spacing-sm > li + li {
      margin-top: var(--pm-spacing-1);
    }

    &.pm-list--spacing-md > li + li {
      margin-top: var(--pm-spacing-2);
    }

    &.pm-list--spacing-lg > li + li {
      margin-top: var(--pm-spacing-4);
    }

    /* Unstyled */
    &.pm-list--unstyled {
      list-style-type: none;
      padding-left: 0;
    }
  }
}
