@layer pm.components {
  @keyframes pm-skeleton-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }

  .pm-skeleton {
    display: block;
    background-color: light-dark(var(--pm-color-neutral-200), var(--pm-color-neutral-700));
    animation: pm-skeleton-pulse 1.5s ease-in-out infinite;
    box-sizing: border-box;

    /* Variants */
    &.pm-skeleton--text {
      width: 100%;
      height: 1em;
      border-radius: var(--pm-radius-sm);
    }

    &.pm-skeleton--circular {
      border-radius: 50%;
    }

    &.pm-skeleton--rectangular {
      width: 100%;
      height: 100px;
      border-radius: var(--pm-radius-sm);
    }

    /* Circular sizes */
    &.pm-skeleton--sm {
      width: 32px;
      height: 32px;
    }

    &.pm-skeleton--md {
      width: 48px;
      height: 48px;
    }

    &.pm-skeleton--lg {
      width: 64px;
      height: 64px;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .pm-skeleton {
      animation: none;
    }
  }
}
