@layer pm.components {
  .pm-masonry {
    & > * {
      break-inside: avoid;
    }

    &.pm-masonry--cols-2 { columns: 2; }
    &.pm-masonry--cols-3 { columns: 3; }
    &.pm-masonry--cols-4 { columns: 4; }
    &.pm-masonry--cols-5 { columns: 5; }
    &.pm-masonry--cols-6 { columns: 6; }

    &.pm-masonry--gap-0 { column-gap: var(--pm-spacing-0); }
    &.pm-masonry--gap-1 { column-gap: var(--pm-spacing-1); }
    &.pm-masonry--gap-2 { column-gap: var(--pm-spacing-2); }
    &.pm-masonry--gap-3 { column-gap: var(--pm-spacing-3); }
    &.pm-masonry--gap-4 { column-gap: var(--pm-spacing-4); }
    &.pm-masonry--gap-5 { column-gap: var(--pm-spacing-5); }
    &.pm-masonry--gap-6 { column-gap: var(--pm-spacing-6); }
    &.pm-masonry--gap-8 { column-gap: var(--pm-spacing-8); }
    &.pm-masonry--gap-10 { column-gap: var(--pm-spacing-10); }
    &.pm-masonry--gap-12 { column-gap: var(--pm-spacing-12); }
    &.pm-masonry--gap-16 { column-gap: var(--pm-spacing-16); }
  }
}
