@layer pm.components {
  .pm-label {
    display: inline-block;
    font-family: var(--pm-font-family-sans);
    font-weight: var(--pm-font-weight-medium);
    color: var(--pm-neutral-fg);
    line-height: var(--pm-font-lineHeight-normal);

    &.pm-label--sm {
      font-size: var(--pm-font-size-sm);
    }

    &.pm-label--md {
      font-size: var(--pm-font-size-md);
    }

    &.pm-label--lg {
      font-size: var(--pm-font-size-lg);
    }

    &.pm-label--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.pm-label--required::after {
      content: " *";
      color: var(--pm-danger);
    }
  }
}
