@layer pm.components {
  .pm-label {
    display: inline-block;
    font-family: var(--pm-font-family-sans);
    font-weight: var(--pm-font-weight-medium);
    color: light-dark(var(--pm-color-neutral-700), var(--pm-color-neutral-200));
    line-height: var(--pm-font-lineHeight-normal);
  }

  .pm-label--sm {
    font-size: var(--pm-font-size-sm);
  }

  .pm-label--md {
    font-size: var(--pm-font-size-md);
  }

  .pm-label--lg {
    font-size: var(--pm-font-size-lg);
  }

  .pm-label--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pm-label--required::after {
    content: " *";
    color: light-dark(var(--pm-color-danger-600), var(--pm-color-danger-400));
  }
}
