@layer pm.components {
  .pm-inline-message {
    display: block;
    padding: var(--pm-spacing-3) var(--pm-spacing-4);
    border-left: 3px solid transparent;
    border-radius: 0 var(--pm-radius-md) var(--pm-radius-md) 0;
    font-family: var(--pm-font-family-sans);
    font-size: var(--pm-font-size-md);
    line-height: var(--pm-font-lineHeight-normal);
  }

  /* Variants */
  .pm-inline-message--info {
    background-color: light-dark(var(--pm-color-info-50), var(--pm-color-info-900));
    border-left-color: light-dark(var(--pm-color-info-500), var(--pm-color-info-400));
    color: light-dark(var(--pm-color-info-800), var(--pm-color-info-100));
  }

  .pm-inline-message--success {
    background-color: light-dark(var(--pm-color-success-50), var(--pm-color-success-900));
    border-left-color: light-dark(var(--pm-color-success-500), var(--pm-color-success-400));
    color: light-dark(var(--pm-color-success-800), var(--pm-color-success-100));
  }

  .pm-inline-message--warning {
    background-color: light-dark(var(--pm-color-warning-50), var(--pm-color-warning-900));
    border-left-color: light-dark(var(--pm-color-warning-500), var(--pm-color-warning-400));
    color: light-dark(var(--pm-color-warning-800), var(--pm-color-warning-100));
  }

  .pm-inline-message--danger {
    background-color: light-dark(var(--pm-color-danger-50), var(--pm-color-danger-900));
    border-left-color: light-dark(var(--pm-color-danger-500), var(--pm-color-danger-400));
    color: light-dark(var(--pm-color-danger-800), var(--pm-color-danger-100));
  }
}
