@layer pm.components {
  .pm-qr-code {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--pm-spacing-2);
    background-color: light-dark(var(--pm-color-neutral-0), var(--pm-color-neutral-0));
    border-radius: var(--pm-radius-md);

    /* Sizes */
    &.pm-qr-code--sm {
      width: 96px;
      height: 96px;
    }

    &.pm-qr-code--md {
      width: 128px;
      height: 128px;
    }

    &.pm-qr-code--lg {
      width: 192px;
      height: 192px;
    }

    &.pm-qr-code--xl {
      width: 256px;
      height: 256px;
    }
  }

  .pm-qr-code__svg {
    width: 100%;
    height: 100%;
  }
}
