@layer pm.components {
  .pm-highlight {
    padding: 0.0625em 0.125em;
    border-radius: var(--pm-radius-sm);

    &.pm-highlight--primary {
      background-color: light-dark(
        oklch(from var(--pm-color-primary-200) l c h / 0.5),
        oklch(from var(--pm-color-primary-700) l c h / 0.4)
      );
    }

    &.pm-highlight--danger {
      background-color: light-dark(
        oklch(from var(--pm-color-danger-200) l c h / 0.5),
        oklch(from var(--pm-color-danger-700) l c h / 0.4)
      );
    }

    &.pm-highlight--success {
      background-color: light-dark(
        oklch(from var(--pm-color-success-200) l c h / 0.5),
        oklch(from var(--pm-color-success-700) l c h / 0.4)
      );
    }

    &.pm-highlight--neutral {
      background-color: light-dark(
        oklch(from var(--pm-color-neutral-200) l c h / 0.5),
        oklch(from var(--pm-color-neutral-700) l c h / 0.4)
      );
    }
  }
}
