@layer pm.components {
  .pm-container {
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--pm-spacing-4);
  }

  .pm-container--sm {
    max-width: 640px;
  }

  .pm-container--md {
    max-width: 768px;
  }

  .pm-container--lg {
    max-width: 1024px;
  }

  .pm-container--xl {
    max-width: 1280px;
  }

  .pm-container--full {
    max-width: 100%;
  }
}
