@layer pm.components {
  .pm-truncate {
    /* Single line truncation */
    &.pm-truncate--lines-1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    /* Multi-line truncation */
    &.pm-truncate--lines-2 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    &.pm-truncate--lines-3 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    &.pm-truncate--lines-4 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
  }
}
