@layer pm.components {
  .pm-aspect {
    position: relative;
    overflow: hidden;
  }

  .pm-aspect > * {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pm-aspect--1-1 { aspect-ratio: 1 / 1; }
  .pm-aspect--2-3 { aspect-ratio: 2 / 3; }
  .pm-aspect--3-2 { aspect-ratio: 3 / 2; }
  .pm-aspect--4-3 { aspect-ratio: 4 / 3; }
  .pm-aspect--3-4 { aspect-ratio: 3 / 4; }
  .pm-aspect--16-9 { aspect-ratio: 16 / 9; }
  .pm-aspect--9-16 { aspect-ratio: 9 / 16; }
  .pm-aspect--21-9 { aspect-ratio: 21 / 9; }
}
