@layer pm.components {
  .pm-datepicker {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: auto;
    font-family: var(--pm-font-family-sans);
  }

  .pm-datepicker__input {
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-radius: var(--pm-radius-md);
    transition-property: border-color, box-shadow;
    transition-duration: var(--pm-transition-fast);
    font-family: inherit;
    padding-right: var(--pm-spacing-8);

    &:focus-visible {
      outline: var(--pm-focus-ring-width) solid var(--pm-focus-ring);
      outline-offset: var(--pm-focus-ring-offset);
    }
  }

  .pm-datepicker--outline .pm-datepicker__input {
    border: 1px solid var(--pm-neutral-active);
    background-color: transparent;
    color: var(--pm-fg);
  }

  .pm-datepicker--filled .pm-datepicker__input {
    border: 1px solid transparent;
    background-color: var(--pm-bg-muted);
    color: var(--pm-fg);
  }

  .pm-datepicker--unstyled .pm-datepicker__input {
    border: none;
    background-color: transparent;
    color: var(--pm-fg);
  }

  .pm-datepicker--sm .pm-datepicker__input {
    padding: var(--pm-spacing-1) var(--pm-spacing-2);
    font-size: var(--pm-font-size-sm);
    height: calc(var(--pm-spacing-8));
  }

  .pm-datepicker--md .pm-datepicker__input {
    padding: var(--pm-spacing-2) var(--pm-spacing-3);
    font-size: var(--pm-font-size-md);
    height: calc(var(--pm-spacing-10));
  }

  .pm-datepicker--lg .pm-datepicker__input {
    padding: var(--pm-spacing-3) var(--pm-spacing-4);
    font-size: var(--pm-font-size-lg);
    height: calc(var(--pm-spacing-12));
  }

  .pm-datepicker--invalid .pm-datepicker__input {
    border-color: var(--pm-danger-border);
  }

  .pm-datepicker--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pm-datepicker--disabled .pm-datepicker__input {
    cursor: not-allowed;
  }

  .pm-datepicker__icon {
    position: absolute;
    right: var(--pm-spacing-3);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--pm-fg-muted);
  }

  .pm-datepicker__popover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-top: var(--pm-spacing-1);
    border: 1px solid var(--pm-neutral-hover);
    border-radius: var(--pm-radius-md);
    background-color: var(--pm-bg);
    box-shadow: var(--pm-shadow-lg);
    padding: var(--pm-spacing-2);
  }

  .pm-datepicker--open .pm-datepicker__popover {
    display: block;
  }
}
