@layer pm.components {
  .pm-ctx-menu {
    position: absolute;
    z-index: 50;
    min-width: 12rem;
    padding: var(--pm-spacing-1) 0;
    background-color: var(--pm-bg);
    border: 1px solid var(--pm-neutral-hover);
    border-radius: var(--pm-radius-md);
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    font-family: var(--pm-font-family-sans);
    display: none;
  }

  .pm-ctx-menu--open {
    display: block;
  }

  .pm-ctx-menu--sm {
    font-size: var(--pm-font-size-sm);
  }

  .pm-ctx-menu--md {
    font-size: var(--pm-font-size-md);
  }

  .pm-ctx-menu--lg {
    font-size: var(--pm-font-size-lg);
  }
}
