@layer pm.components {
  .pm-divider {
    --pm-divider-color: var(--pm-neutral-hover);
    border: 0;
    border-color: var(--pm-divider-color);

    &.pm-divider--horizontal {
      border-bottom-width: 1px;
      width: 100%;
    }

    &.pm-divider--vertical {
      border-left-width: 1px;
      height: 100%;
      align-self: stretch;
    }

    &.pm-divider--solid {
      border-style: solid;
    }
    &.pm-divider--dashed {
      border-style: dashed;
    }
    &.pm-divider--dotted {
      border-style: dotted;
    }

    /* Divider with label */
    &.pm-divider--with-label {
      display: flex;
      align-items: center;
      border: 0;
      gap: var(--pm-spacing-3);

      &::before,
      &::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid var(--pm-divider-color);
      }
    }

    &.pm-divider--with-label.pm-divider--dashed {
      &::before,
      &::after {
        border-bottom-style: dashed;
      }
    }

    &.pm-divider--with-label.pm-divider--dotted {
      &::before,
      &::after {
        border-bottom-style: dotted;
      }
    }

    &.pm-divider--label-start {
      &::before {
        flex: 0 0 var(--pm-spacing-4);
      }
    }

    &.pm-divider--label-end {
      &::after {
        flex: 0 0 var(--pm-spacing-4);
      }
    }

    /* Vertical margin */
    &.pm-divider--my-0 {
      margin-block: var(--pm-spacing-0);
    }
    &.pm-divider--my-1 {
      margin-block: var(--pm-spacing-1);
    }
    &.pm-divider--my-2 {
      margin-block: var(--pm-spacing-2);
    }
    &.pm-divider--my-3 {
      margin-block: var(--pm-spacing-3);
    }
    &.pm-divider--my-4 {
      margin-block: var(--pm-spacing-4);
    }
    &.pm-divider--my-5 {
      margin-block: var(--pm-spacing-5);
    }
    &.pm-divider--my-6 {
      margin-block: var(--pm-spacing-6);
    }
    &.pm-divider--my-8 {
      margin-block: var(--pm-spacing-8);
    }
    &.pm-divider--my-10 {
      margin-block: var(--pm-spacing-10);
    }
    &.pm-divider--my-12 {
      margin-block: var(--pm-spacing-12);
    }
    &.pm-divider--my-16 {
      margin-block: var(--pm-spacing-16);
    }
  }

  /* Theme overrides */
  .pm-theme-antd .pm-divider {
    --pm-divider-color: light-dark(#f0f0f0, #303030);
  }

  .pm-theme-material .pm-divider {
    --pm-divider-color: light-dark(rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  }
}
