@layer pm.components {
  .pm-number-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: auto;

    & .pm-input {
      width: 100%;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .pm-number-input__stepper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid light-dark(var(--pm-color-neutral-200), var(--pm-color-neutral-700));
  }

  .pm-number-input__increment,
  .pm-number-input__decrement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 var(--pm-spacing-2);
    background: none;
    border: none;
    cursor: pointer;
    color: light-dark(var(--pm-color-neutral-600), var(--pm-color-neutral-400));
    font-size: var(--pm-font-size-xs);

    &:hover {
      background-color: light-dark(var(--pm-color-neutral-100), var(--pm-color-neutral-800));
    }

    &:focus-visible {
      outline: var(--pm-focus-ring-width) solid var(--pm-color-primary-500);
      outline-offset: -1px;
    }
  }

  .pm-number-input__increment {
    border-bottom: 1px solid light-dark(var(--pm-color-neutral-200), var(--pm-color-neutral-700));
    border-radius: 0 var(--pm-radius-md) 0 0;
  }

  .pm-number-input__decrement {
    border-radius: 0 0 var(--pm-radius-md) 0;
  }
}
