@layer pm.components {
  .pm-num-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: auto;

    & .pm-input {
      width: 100%;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .pm-num-input__stepper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--pm-neutral-hover);
  }

  .pm-num-input__increment,
  .pm-num-input__decrement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 var(--pm-spacing-2);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--pm-fg-muted);
    font-size: var(--pm-font-size-xs);

    &:hover {
      background-color: var(--pm-bg-muted);
    }

    &:focus-visible {
      outline: var(--pm-focus-ring-width) solid var(--pm-focus-ring);
      outline-offset: -1px;
    }
  }

  .pm-num-input__increment {
    border-bottom: 1px solid var(--pm-neutral-hover);
    border-radius: 0 var(--pm-radius-md) 0 0;
  }

  .pm-num-input__decrement {
    border-radius: 0 0 var(--pm-radius-md) 0;
  }
}
