@layer pm.components {
  .pm-form-control {
    display: flex;
    width: 100%;
  }

  .pm-form-control--vertical {
    flex-direction: column;
    gap: var(--pm-spacing-1);
  }

  .pm-form-control--horizontal {
    flex-direction: row;
    align-items: center;
    gap: var(--pm-spacing-3);
  }

  .pm-form-control--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pm-form-control__helper-text {
    font-family: var(--pm-font-family-sans);
    font-size: var(--pm-font-size-sm);
    color: light-dark(var(--pm-color-neutral-500), var(--pm-color-neutral-400));
  }

  .pm-form-control__error-text {
    font-family: var(--pm-font-family-sans);
    font-size: var(--pm-font-size-sm);
    color: light-dark(var(--pm-color-danger-600), var(--pm-color-danger-400));
  }
}
