@layer pm.components {
  .pm-form-ctrl {
    display: flex;
    width: 100%;
  }

  .pm-form-ctrl--vertical {
    flex-direction: column;
    gap: var(--pm-spacing-1);
  }

  .pm-form-ctrl--horizontal {
    flex-direction: row;
    align-items: center;
    gap: var(--pm-spacing-3);
  }

  .pm-form-ctrl--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pm-form-ctrl__helper-text {
    font-family: var(--pm-font-family-sans);
    font-size: var(--pm-font-size-sm);
    color: var(--pm-fg-muted);
  }

  .pm-form-ctrl__error-text {
    font-family: var(--pm-font-family-sans);
    font-size: var(--pm-font-size-sm);
    color: var(--pm-danger);
  }
}
