@layer pm.components {
  .pm-nprogress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity var(--pm-transition-fast) ease;
  }

  .pm-nprogress--active {
    opacity: 1;
  }

  .pm-nprogress__bar {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--pm-primary);
    transition: transform var(--pm-transition-fast) ease;
    transform-origin: left;
  }

  .pm-nprogress__peg {
    position: absolute;
    right: 0;
    display: block;
    width: 100px;
    height: 100%;
    box-shadow:
      0 0 10px var(--pm-primary-border),
      0 0 5px var(--pm-primary-border);
    opacity: 1;
    transform: rotate(3deg) translate(0, -4px);
  }
}
