@layer pm.components {
  .pm-prose {
    font-family: var(--pm-font-family-sans);
    line-height: var(--pm-font-lineHeight-relaxed);
    color: light-dark(var(--pm-color-neutral-800), var(--pm-color-neutral-200));
    max-width: 65ch;
  }

  /* Sizes */
  .pm-prose--sm {
    font-size: var(--pm-font-size-sm);
  }

  .pm-prose--md {
    font-size: var(--pm-font-size-md);
  }

  .pm-prose--lg {
    font-size: var(--pm-font-size-lg);
  }

  /* Colors */
  .pm-prose--color-default {
  }

  .pm-prose--color-muted {
    color: light-dark(var(--pm-color-neutral-600), var(--pm-color-neutral-400));
  }

  /* Trim */
  .pm-prose--trim {
  }
}
