@layer pm.components {
  .pm-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    transition-property: background-color, border-color, color, box-shadow;
    transition-duration: var(--pm-transition-fast);
    transition-timing-function: ease-in-out;

    &:focus-visible {
      outline: var(--pm-focus-ring-width) solid var(--pm-color-primary-500);
      outline-offset: var(--pm-focus-ring-offset);
    }

    /* Variants */
    &.pm-icon-button--primary {
      background-color: light-dark(var(--pm-color-primary-600), var(--pm-color-primary-500));
      color: var(--pm-color-neutral-0);

      &:hover:not(.pm-icon-button--disabled) {
        background-color: light-dark(var(--pm-color-primary-700), var(--pm-color-primary-400));
      }

      &:active:not(.pm-icon-button--disabled) {
        background-color: light-dark(var(--pm-color-primary-800), var(--pm-color-primary-600));
      }
    }

    &.pm-icon-button--secondary {
      background-color: transparent;
      color: light-dark(var(--pm-color-neutral-700), var(--pm-color-neutral-200));
      border-color: light-dark(var(--pm-color-neutral-300), var(--pm-color-neutral-600));

      &:hover:not(.pm-icon-button--disabled) {
        background-color: light-dark(var(--pm-color-neutral-100), var(--pm-color-neutral-800));
      }

      &:active:not(.pm-icon-button--disabled) {
        background-color: light-dark(var(--pm-color-neutral-200), var(--pm-color-neutral-700));
      }
    }

    &.pm-icon-button--danger {
      background-color: light-dark(var(--pm-color-danger-600), var(--pm-color-danger-500));
      color: var(--pm-color-neutral-0);

      &:hover:not(.pm-icon-button--disabled) {
        background-color: light-dark(var(--pm-color-danger-700), var(--pm-color-danger-400));
      }

      &:active:not(.pm-icon-button--disabled) {
        background-color: light-dark(var(--pm-color-danger-800), var(--pm-color-danger-600));
      }
    }

    &.pm-icon-button--ghost {
      background-color: transparent;
      color: light-dark(var(--pm-color-neutral-700), var(--pm-color-neutral-200));

      &:hover:not(.pm-icon-button--disabled) {
        background-color: light-dark(var(--pm-color-neutral-100), var(--pm-color-neutral-800));
      }

      &:active:not(.pm-icon-button--disabled) {
        background-color: light-dark(var(--pm-color-neutral-200), var(--pm-color-neutral-700));
      }
    }

    /* Sizes */
    &.pm-icon-button--sm {
      width: 28px;
      height: 28px;
      font-size: var(--pm-font-size-sm);
    }

    &.pm-icon-button--md {
      width: 36px;
      height: 36px;
      font-size: var(--pm-font-size-md);
    }

    &.pm-icon-button--lg {
      width: 44px;
      height: 44px;
      font-size: var(--pm-font-size-lg);
    }

    /* Shapes */
    &.pm-icon-button--square {
      border-radius: var(--pm-radius-md);
    }

    &.pm-icon-button--circle {
      border-radius: 50%;
    }

    /* States */
    &.pm-icon-button--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
