@layer pm.components {
  .pm-timeline {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--pm-font-family-sans);

    /* Vertical orientation */
    &.pm-timeline--vertical {
      flex-direction: column;
    }

    /* Horizontal orientation */
    &.pm-timeline--horizontal {
      flex-direction: row;
    }

    /* Start align (default) - vertical */
    &.pm-timeline--vertical.pm-timeline--start {
      .pm-timeline__item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0 var(--pm-spacing-3);
      }

      .pm-timeline__dot {
        grid-column: 1;
        grid-row: 1;
      }

      .pm-timeline__connector {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
      }

      .pm-timeline__content {
        grid-column: 2;
        grid-row: 1 / -1;
      }

      .pm-timeline__opposite {
        display: none;
      }
    }

    /* Center align - vertical */
    &.pm-timeline--vertical.pm-timeline--center {
      .pm-timeline__item {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0 var(--pm-spacing-3);
      }

      .pm-timeline__dot {
        grid-column: 2;
        grid-row: 1;
      }

      .pm-timeline__connector {
        grid-column: 2;
        grid-row: 2;
        justify-self: center;
      }

      .pm-timeline__content {
        grid-column: 3;
        grid-row: 1 / -1;
        text-align: start;
      }

      .pm-timeline__opposite {
        grid-column: 1;
        grid-row: 1 / -1;
        text-align: end;
      }
    }

    /* Alternate align - vertical */
    &.pm-timeline--vertical.pm-timeline--alternate {
      .pm-timeline__item {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0 var(--pm-spacing-3);
      }

      .pm-timeline__dot {
        grid-column: 2;
        grid-row: 1;
      }

      .pm-timeline__connector {
        grid-column: 2;
        grid-row: 2;
        justify-self: center;
      }

      .pm-timeline__item:nth-child(odd) .pm-timeline__content {
        grid-column: 3;
        grid-row: 1 / -1;
        text-align: start;
      }

      .pm-timeline__item:nth-child(odd) .pm-timeline__opposite {
        grid-column: 1;
        grid-row: 1 / -1;
        text-align: end;
      }

      .pm-timeline__item:nth-child(even) .pm-timeline__content {
        grid-column: 1;
        grid-row: 1 / -1;
        text-align: end;
      }

      .pm-timeline__item:nth-child(even) .pm-timeline__opposite {
        grid-column: 3;
        grid-row: 1 / -1;
        text-align: start;
      }
    }

    /* Horizontal start */
    &.pm-timeline--horizontal.pm-timeline--start {
      .pm-timeline__item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        gap: var(--pm-spacing-2) 0;
        flex: 1;
      }

      .pm-timeline__dot {
        grid-column: 1;
        grid-row: 1;
      }

      .pm-timeline__connector {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
      }

      .pm-timeline__content {
        grid-column: 1 / -1;
        grid-row: 2;
      }

      .pm-timeline__opposite {
        display: none;
      }
    }

    /* Horizontal center */
    &.pm-timeline--horizontal.pm-timeline--center {
      .pm-timeline__item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        gap: var(--pm-spacing-2) 0;
        flex: 1;
      }

      .pm-timeline__dot {
        grid-column: 1;
        grid-row: 2;
      }

      .pm-timeline__connector {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
      }

      .pm-timeline__content {
        grid-column: 1 / -1;
        grid-row: 3;
        text-align: center;
      }

      .pm-timeline__opposite {
        grid-column: 1 / -1;
        grid-row: 1;
        text-align: center;
      }
    }

    /* Horizontal alternate */
    &.pm-timeline--horizontal.pm-timeline--alternate {
      .pm-timeline__item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        gap: var(--pm-spacing-2) 0;
        flex: 1;
      }

      .pm-timeline__dot {
        grid-column: 1;
        grid-row: 2;
      }

      .pm-timeline__connector {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
      }

      .pm-timeline__item:nth-child(odd) .pm-timeline__content {
        grid-column: 1 / -1;
        grid-row: 3;
        text-align: center;
      }

      .pm-timeline__item:nth-child(odd) .pm-timeline__opposite {
        grid-column: 1 / -1;
        grid-row: 1;
        text-align: center;
      }

      .pm-timeline__item:nth-child(even) .pm-timeline__content {
        grid-column: 1 / -1;
        grid-row: 1;
        text-align: center;
      }

      .pm-timeline__item:nth-child(even) .pm-timeline__opposite {
        grid-column: 1 / -1;
        grid-row: 3;
        text-align: center;
      }
    }
  }

  .pm-timeline__item {
    position: relative;
    padding-bottom: var(--pm-spacing-4);

    &:last-child {
      padding-bottom: 0;

      .pm-timeline__connector {
        display: none;
      }
    }
  }

  .pm-timeline__connector {
    width: 2px;
    height: 100%;
    background-color: light-dark(var(--pm-color-neutral-200), var(--pm-color-neutral-700));

    .pm-timeline--horizontal & {
      width: 100%;
      height: 2px;
    }
  }

  .pm-timeline__dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: var(--pm-radius-full);
    flex-shrink: 0;
    z-index: 1;

    /* Filled variants */
    &.pm-timeline__dot--filled {
      &.pm-timeline__dot--primary {
        background-color: light-dark(var(--pm-color-primary-600), var(--pm-color-primary-500));
      }

      &.pm-timeline__dot--neutral {
        background-color: light-dark(var(--pm-color-neutral-400), var(--pm-color-neutral-500));
      }

      &.pm-timeline__dot--danger {
        background-color: light-dark(var(--pm-color-danger-600), var(--pm-color-danger-500));
      }

      &.pm-timeline__dot--success {
        background-color: light-dark(var(--pm-color-success-600), var(--pm-color-success-500));
      }
    }

    /* Outline variants */
    &.pm-timeline__dot--outline {
      background-color: light-dark(var(--pm-color-neutral-0), var(--pm-color-neutral-900));
      border: 2px solid;

      &.pm-timeline__dot--primary {
        border-color: light-dark(var(--pm-color-primary-600), var(--pm-color-primary-500));
      }

      &.pm-timeline__dot--neutral {
        border-color: light-dark(var(--pm-color-neutral-400), var(--pm-color-neutral-500));
      }

      &.pm-timeline__dot--danger {
        border-color: light-dark(var(--pm-color-danger-600), var(--pm-color-danger-500));
      }

      &.pm-timeline__dot--success {
        border-color: light-dark(var(--pm-color-success-600), var(--pm-color-success-500));
      }
    }
  }

  .pm-timeline__content {
    font-size: var(--pm-font-size-md);
    color: light-dark(var(--pm-color-neutral-800), var(--pm-color-neutral-200));
  }

  .pm-timeline__opposite {
    font-size: var(--pm-font-size-sm);
    color: light-dark(var(--pm-color-neutral-500), var(--pm-color-neutral-400));
  }
}
