@layer pm.components {
  .pm-daterange {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: auto;
    font-family: var(--pm-font-family-sans);
  }

  .pm-daterange__trigger {
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-radius: var(--pm-radius-md);
    transition-property: border-color, box-shadow;
    transition-duration: var(--pm-transition-fast);
    font-family: inherit;
    gap: var(--pm-spacing-2);
    cursor: pointer;

    &:focus-visible {
      outline: var(--pm-focus-ring-width) solid var(--pm-focus-ring);
      outline-offset: var(--pm-focus-ring-offset);
    }
  }

  .pm-daterange--outline .pm-daterange__trigger {
    border: 1px solid var(--pm-neutral-active);
    background-color: transparent;
    color: var(--pm-fg);
  }

  .pm-daterange--filled .pm-daterange__trigger {
    border: 1px solid transparent;
    background-color: var(--pm-bg-muted);
    color: var(--pm-fg);
  }

  .pm-daterange--unstyled .pm-daterange__trigger {
    border: none;
    background-color: transparent;
    color: var(--pm-fg);
  }

  .pm-daterange--sm .pm-daterange__trigger {
    padding: var(--pm-spacing-1) var(--pm-spacing-2);
    font-size: var(--pm-font-size-sm);
    height: calc(var(--pm-spacing-8));
  }

  .pm-daterange--md .pm-daterange__trigger {
    padding: var(--pm-spacing-2) var(--pm-spacing-3);
    font-size: var(--pm-font-size-md);
    height: calc(var(--pm-spacing-10));
  }

  .pm-daterange--lg .pm-daterange__trigger {
    padding: var(--pm-spacing-3) var(--pm-spacing-4);
    font-size: var(--pm-font-size-lg);
    height: calc(var(--pm-spacing-12));
  }

  .pm-daterange--invalid .pm-daterange__trigger {
    border-color: var(--pm-danger-border);
  }

  .pm-daterange--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pm-daterange--disabled .pm-daterange__trigger {
    cursor: not-allowed;
    pointer-events: none;
  }

  .pm-daterange__popover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-top: var(--pm-spacing-1);
    border: 1px solid var(--pm-neutral-hover);
    border-radius: var(--pm-radius-md);
    background-color: var(--pm-bg);
    box-shadow: var(--pm-shadow-lg);
    padding: var(--pm-spacing-2);
  }

  .pm-daterange--open .pm-daterange__popover {
    display: block;
  }

  .pm-daterange__panels {
    display: flex;
    gap: var(--pm-spacing-4);
  }
}
