@layer pm.components {
  .pm-input {
    display: inline-flex;
    align-items: center;
    font-family: var(--pm-font-family-sans);
    line-height: var(--pm-font-lineHeight-normal);
    border-radius: var(--pm-radius-md);
    transition-property: border-color, box-shadow, background-color;
    transition-duration: var(--pm-transition-fast);
    transition-timing-function: ease-in-out;
    width: auto;
  }

  .pm-input:focus-visible {
    outline: var(--pm-focus-ring-width) solid var(--pm-focus-ring);
    outline-offset: var(--pm-focus-ring-offset);
  }

  .pm-input--outline {
    border: 1px solid var(--pm-neutral-active);
    background-color: transparent;
    color: var(--pm-fg);
  }

  .pm-input--outline::placeholder {
    color: var(--pm-fg-subtle);
  }

  .pm-input--filled {
    border: 1px solid transparent;
    background-color: var(--pm-bg-muted);
    color: var(--pm-fg);
  }

  .pm-input--filled::placeholder {
    color: var(--pm-fg-subtle);
  }

  .pm-input--filled:focus-visible {
    background-color: transparent;
    border-color: var(--pm-primary-border);
  }

  .pm-input--unstyled {
    border: none;
    background-color: transparent;
    color: var(--pm-fg);
    border-radius: 0;
    padding: 0;
  }

  .pm-input--unstyled:focus-visible {
    outline: none;
  }

  .pm-input--xs {
    padding: var(--pm-spacing-0-5) var(--pm-spacing-1-5);
    font-size: var(--pm-font-size-xs);
    height: calc(var(--pm-spacing-6));
  }

  .pm-input--sm {
    padding: var(--pm-spacing-1) var(--pm-spacing-2);
    font-size: var(--pm-font-size-sm);
    height: calc(var(--pm-spacing-8));
  }

  .pm-input--md {
    padding: var(--pm-spacing-2) var(--pm-spacing-3);
    font-size: var(--pm-font-size-md);
    height: calc(var(--pm-spacing-10));
  }

  .pm-input--lg {
    padding: var(--pm-spacing-3) var(--pm-spacing-4);
    font-size: var(--pm-font-size-lg);
    height: calc(var(--pm-spacing-12));
  }

  .pm-input--invalid {
    border-color: var(--pm-danger-border);
  }

  .pm-input--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pm-input--read-only {
    background-color: var(--pm-bg-subtle);
    cursor: default;
  }

  .pm-input--full-width {
    width: 100%;
  }
}
