@layer pm.components {
  .pm-input {
    display: inline-flex;
    align-items: center;
    font-family: var(--pm-font-family-sans);
    line-height: var(--pm-font-lineHeight-normal);
    border-radius: var(--pm-radius-md);
    transition-property: border-color, box-shadow, background-color;
    transition-duration: var(--pm-transition-fast);
    transition-timing-function: ease-in-out;
    width: auto;
  }

  .pm-input:focus-visible {
    outline: var(--pm-focus-ring-width) solid var(--pm-color-primary-500);
    outline-offset: var(--pm-focus-ring-offset);
  }

  .pm-input--outline {
    border: 1px solid light-dark(var(--pm-color-neutral-300), var(--pm-color-neutral-600));
    background-color: transparent;
    color: light-dark(var(--pm-color-neutral-900), var(--pm-color-neutral-100));
  }

  .pm-input--outline::placeholder {
    color: light-dark(var(--pm-color-neutral-400), var(--pm-color-neutral-500));
  }

  .pm-input--filled {
    border: 1px solid transparent;
    background-color: light-dark(var(--pm-color-neutral-100), var(--pm-color-neutral-800));
    color: light-dark(var(--pm-color-neutral-900), var(--pm-color-neutral-100));
  }

  .pm-input--filled::placeholder {
    color: light-dark(var(--pm-color-neutral-400), var(--pm-color-neutral-500));
  }

  .pm-input--filled:focus-visible {
    background-color: transparent;
    border-color: light-dark(var(--pm-color-primary-500), var(--pm-color-primary-400));
  }

  .pm-input--unstyled {
    border: none;
    background-color: transparent;
    color: light-dark(var(--pm-color-neutral-900), var(--pm-color-neutral-100));
    border-radius: 0;
    padding: 0;
  }

  .pm-input--unstyled:focus-visible {
    outline: none;
  }

  .pm-input--sm {
    padding: var(--pm-spacing-1) var(--pm-spacing-2);
    font-size: var(--pm-font-size-sm);
    height: calc(var(--pm-spacing-8));
  }

  .pm-input--md {
    padding: var(--pm-spacing-2) var(--pm-spacing-3);
    font-size: var(--pm-font-size-md);
    height: calc(var(--pm-spacing-10));
  }

  .pm-input--lg {
    padding: var(--pm-spacing-3) var(--pm-spacing-4);
    font-size: var(--pm-font-size-lg);
    height: calc(var(--pm-spacing-12));
  }

  .pm-input--invalid {
    border-color: light-dark(var(--pm-color-danger-500), var(--pm-color-danger-400));
  }

  .pm-input--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pm-input--read-only {
    background-color: light-dark(var(--pm-color-neutral-50), var(--pm-color-neutral-900));
    cursor: default;
  }

  .pm-input--full-width {
    width: 100%;
  }
}
