@layer pm.components {
  .pm-mark {
    color: inherit;
  }

  /* Variants */
  .pm-mark--default {
    background-color: light-dark(oklch(from yellow l c h / 0.35), oklch(from yellow l c h / 0.25));
    padding: 0.0625em 0.125em;
    border-radius: var(--pm-radius-sm);
  }

  .pm-mark--underline {
    background-color: transparent;
    border-bottom: 3px solid var(--pm-primary-border);
    padding-bottom: 0.0625em;
  }

  .pm-mark--circle {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--pm-primary-border);
    padding: 0.0625em 0.25em;
  }

  .pm-mark--filled {
    background-color: var(--pm-primary-border);
    color: var(--pm-color-neutral-0);
    padding: 0.0625em 0.25em;
    border-radius: var(--pm-radius-sm);
  }

  /* Colors */
  .pm-mark--color-yellow {
  }

  .pm-mark--color-primary {
  }

  .pm-mark--color-danger {
  }

  .pm-mark--color-success {
  }

  .pm-mark--color-info {
  }
}
